<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
<listeners>
<listener class-name="com.simolaw.listener.ListenerClass"></listener>
</listeners>


<test name="Login">
    <classes>
      <class name="com.simolaw.tests.LoginTest" >
       <methods>
        <include name="loginPageTitleVald" />
        <include name="loginTest" />
      </methods>
     </class>
       
      
    </classes>
  </test> <!-- Test --> 
  
 <test  name="Home">
    <classes>
      <class    name="com.simolaw.tests.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
